# === VIDEOS ===
*.mp4
*.mov
*.webm
*.mkv

videos/
capcut/
sites/**/videos/
sites/**/capcut/

# 🔓 Libera vídeos do Noronha Local
!sites/noronha-local/videos/
!sites/noronha-local/videos/**


# === IMAGENS TEMPORARIAS ===
images/temporaria/
sites/**/images/temporaria/

# === SISTEMA ===
.DS_Store
Thumbs.db

!sites/noronha-local/videos/estrela-lunar.mp4
